<%= render 'header',
            title: "Résultats",
            text: "Voici les résultats pour ta recherche #{@search}",
            count: @nbOfResults %>

<div class="container search">
	<% if @products.present? %>
		<h4>Produits</h4>
		<ul>
			<% @products.each do |product| %>
				<li>
					<%= link_to product, product %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @alternatives.present? %>
		<h4>Alternatives</h4>
		<ul>
			<% @alternatives.each do |alternative| %>
				<li>
					<%= link_to alternative, product_path(alternative.product) %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @suggestions.present? %>
		<h4>Suggestions</h4>
		<ul>
			<% @suggestions.each do |suggestion| %>
				<li>
					<%= link_to suggestion, suggestion %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>