<h1>Editing Suggested Alternative</h1>

<%= render 'form', suggested_alternative: @suggested_alternative %>

<%= link_to 'Show', @suggested_alternative %> |
<%= link_to 'Back', suggested_alternatives_path %>
