<header class="position-relative" style="top:-110px;">
  <div class="container"style="padding-top:100px; padding-bottom:50px">
    <div class="jumbotron bg-transparent">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <span>Qui sommes-nous ?</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mb-5">

</div>
