<%= render 'header',
            title: 'Prenons contact !',
            text: 'Parce notre priorité, c’est toi ! <br>
            Nous serons ravies d’entendre le son de ta voix !',
            large: '!!!' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Viens nous parler !</h2>
      <h3>
        Tu as des <strong>questions</strong> ?
        Tu souhaites <strong>en savoir plus</strong> sur nous ?
      </h3>
      <p>
        Makyma est un projet humain et collaboratif.
        Nous souhaitons te proposer les meilleures alternatives
        et être le plus proche possible de toi !<br>
        Alors, si tu as des questions, des remarques, n’hésites pas !
        Nous serons ravies de recevoir tes mots doux !
      </p>
      <a href="mailto:contact@makyma.org" class="btn btn-primary">Contacte-nous</a>
    </div>
  </div>
</div>
