<svg width="0" height="0"  viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0" style="position:absolute; pointer-events: none;" >
  <defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
        <path  d="M0,0v0.9c0,0,0.2,0.1,0.5,0S1,1,1,1V0H0z"/>
    </clipPath>
        <clipPath id="myClipFooter" clipPathUnits="objectBoundingBox">
        <path  d="M1,1V0c0,0-0.2,0.1-0.5,0S0,0.1,0,0.1V1H1z"/>
    </clipPath>
  </defs>
</svg>

<header class="position-relative" style="top:-48px;">
  <div class="container">
    <div class="jumbotron pl-0 pr-0 bg-transparent">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-8">
          <h1>Prenons contact !</h1>
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-8">
          <p>
            Parce notre priorité, c’est toi ! <br>
            Nous serons ravies d’entendre le son de ta voix !
          </p>
        </div>
      </div>
    </div>

  </div>
</header>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="mb-5">Viens nous parler !</h2>
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-8">
          <p class="sousTitre">Tu as des <strong>questions</strong> ? Tu souhaites <strong>en savoir plus</strong> sur nous ?</p>
          <p>
            Makyma est un projet humain et collaboratif. Nous souhaitons te proposer les meilleures alternatives et être le plus proche possible de toi !<br>
            Alors, si tu as des questions, des remarques, n’hésites pas ! Nous serons ravies de recevoir tes mots doux !</p>
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-8">
          <a href="#" class="hoverBtn btnActive p-3 pr-4 pl-4 border-13 shadow">Contacte-nous</a>
        </div>
      </div>
    </div>
  </div>
</div>