<%= render 'header',
            title: 'Prenons contact !',
            text: 'Parce notre priorité, c’est toi ! <br>
            Nous serons ravies d’entendre le son de ta voix !',
            large: '!!!' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>
          Ton message a bien été envoyé, nous te recontacterons rapidement.

      </h3>
    </div>
  </div>
</div>
