<div class="jumbotron ">
  <div class="row">      
    <div class="col-lg-10 offset-lg-1">
      <h1 class="mb-4">
        makyma
        <div class="row">
          <span class="col-lg-6">Le compagnon pour ta transition responsable.</span>
        </div>
      </h1>
      <input class="form-control mb-4" type="text" placeholder="Search" aria-label="Search">
  
      <p class="lead">Tu as pris conscience de ton impact ecologique et tu souhaites le reduire sans changer tes habitudes. Decouvre les alternatives vertes aux produits de ton quotidien, et adopte un comportement eco-responsable</p>
    </div>
  </div>
</div>

<div  class="row">
  <div class="col-lg-1"></div>



  <% @categories.each do |category| %>
    <%= link_to category do %>
      <div class="col-lg-2 offset-lg-1">
        <div class="card">
          <!--
          <img src="..." class="card-img-top" alt="...">
          -->
          <div class="card-body">
            <h3 class="card-title"><%= link_to category, category%></h3>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="col-lg-1"></div>
</div>


<% if user_signed_in? %>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
<% end %>

