<svg width="0" height="0"  viewBox="0 0 1 1" preserveAspectRatio="none" class="my-0" style="position:absolute; pointer-events: none;" >
  <defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
        <path  d="M0,0v0.9c0,0,0.2,0.1,0.5,0S1,1,1,1V0H0z"/>
    </clipPath>
        <clipPath id="myClipFooter" clipPathUnits="objectBoundingBox">
        <path  d="M1,1V0c0,0-0.2,0.1-0.5,0S0,0.1,0,0.1V1H1z"/>
    </clipPath>
  </defs>
</svg>

<header class="position-relative" style="top:-48px; padding-bottom:200px;">
  <div class="container">
    <div class="jumbotron bg-transparent">
      <h1>makyma</h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <span>Le compagnon pour ta transition responsable.</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Tu as pris conscience de ton impact écologique et tu souhaites le réduire sans changer tes habitudes. Découvre les alternatives vertes aux produits de ton quotidien, et adopte un comportement éco-responsable.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="text-info mb-5" style="font-size: 36px; font-weight: 600;">Les catégories de produits</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-5" style="margin-bottom: 130px;">
    <% @categories.each do |category| %>
      <div class="col-10 col-sm-8 col-md-5 col-lg-4 col-xl-3 m-2 m-md-2 m-lg-2 m-xl-3 shadow hoverBtn" style="max-height: 100px; border-radius: 13px">
        <%= link_to category do %>
          <div class="row align-items-center justify-content-center p-3">
            <%= image_tag category.image, style:"max-width: 100px", class:"col", alt: "Icône symbolisant la catégorie "+category.title %>
            <p class="col m-0" style="text-decoration: none; font-size: 21px; font-weight: 600;"><%= category.title %></p>
          </div>
        <% end %>  
      </div>
    <% end %>
  </div>

  <div class="row justify-content-around">
    <% if can? :manage, @category %>
      <button type="button" class="col-lg-2 btn btn-outline-primary" style="border-radius: 35px;"><%= link_to 'Nouvelle catégorie', new_category_path %></button>
    <% end %>
  </div>
</div>
