<footer class="footer bg-light small">
  <div class="container pt-5">
      <% if user_signed_in? %>
        <div>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    <div class="row py-5">
      <div class="col-md-4" id="copyright">
        <a href="<%= root_path %>">© Makyma <%= Date.today.year %></a>
      </div>
      <div class="col-6 col-md-3 offset-md-2">
        <ul class="list-unstyled">
          <li class="mb-3"><a href="/about">A Propos</a></li>
          <li class="mb-3"><a href="/contact">Contact</a></li>
          <li class="mb-3"><a href="/cgu">Mentions légales</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul class="list-unstyled">
          <li class="mb-3"><a href="https://www.facebook.com/makymaorg" target="_blank">Facebook</a></li>
          <li class="mb-3"><a href="https://www.instagram.com/makyma_app" target="_blank">Instagram</a></li>
          <li class="mb-3"><a href="https://twitter.com/makyma_app" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
