<%
count ||= nil
large ||= nil
%>
<header class="jumbotron bg-transparent text-white">
  <div class="container" style="height: <%= request.path != '/' ? '50px;' : '20px' %>">
    <% if request.path != '/' %>
    <div class="row mb-3">
      <ol class="breadcrumb bg-transparent text-light" id="ariane">
        <%= render_breadcrumbs :tag => :li, :separator => "<span class='separator'>&nbsp;/&nbsp;</span>" %>
      </ol>
    </div>
    <% end %>
  </div>
</header>