<nav>
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-2">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "logos.svg", class:'logo', alt: "Logotype de Makyma" %>
        </a>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb pl-0 pt-4 small text-white bg-transparent font-weight-light font-italic" id="ariane">
          <%= render_breadcrumbs :tag => :li, :separator => "&nbsp;/&nbsp;" %>
        </ol>
      </div>
      <div class='options_container'>
        <a href="">Catégories<%=image_tag asset_path('categorie.svg')=%></a>
        <a href="">Propose une alternative</a>
        <a href="">Qui sommes-nous ?</a>
        <a href="">Contact</a>
      </div>
    </div>
  </div>
</nav>
