<div class="container pt-4 navigation_bar">
  <div class="row d-flex flex-nowrap justify-content-between">
    <div class="col-md-2 navbar-brand-container">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag "logo_computer.svg", class:'logo', alt: "Logotype de Makyma" %>
      </a>
    </div>
    <nav class="navbar d-none d-lg-block navbar-expand-lg navbar-light bg-transparent">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-3 p-2">
            <a class="nav-link text-light p-0" href="/#alternatives" role="button">Nos alternatives</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link text-light border border-light rounded pr-3 pl-3" href="/suggestion">Propose une alternative</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light p-0" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar-mobile d-lg-none d-flex">
      <button class="nav-toggle" id="nav-toggle">
        <%= image_tag 'menu.svg', alt: "Icône symbolisant le menu" %>
      </button>
      <div class="container position-fixed" id="nav-container">
        <div class="column navbar-list-container position-absolute d-flex justify-content-center align-items-center flex-column">
          <ul class="navbar-list p-0">
            <li class="nav-item text-center pt-2 pb-2 pl-3 pr-3">
              <a class="nav-link text-light p-0 mb-1" href="/#alternatives">Nos alternatives</a>
            </li>
            <li class="nav-item text-center pt-2 pb-2 pl-3 pr-3">
              <a class="nav-link text-light p-0" href="/about">Qui sommes-nous ?</a>
            </li>
            <li class="nav-item text-center pt-2 pb-2 pl-3 pr-3">
              <a class="nav-link text-light p-0" href="/contact">Contact</a>
            </li>
            <li class="nav-item text-center pt-3 pb-2 pl-3 pr-3">
              <a class="nav-link text-light p-0" href="/suggestion">Propose une alternative</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<%= javascript_tag do %>  
  $('#nav-toggle').click(function() {
    $('#nav-container').toggleClass('active')
    $('body').toggleClass('menu-active')
  })
<% end %>
