body
	color: #FFFFFF

.jumbotron
	background: linear-gradient(40deg, #FF8F66, #ffeb9a 120%)
	border-radius: unset
	h1
		font-weight: regular
		font-size: 1rem
		span
			font-weight: bold
			font-size: 2rem
			display: block

