header
	background: linear-gradient(40deg, #FF8F66, #ffeb9a 120%)
	clip-path: url(#myClip)

.jumbotron
	color: #FFFFFF
	border-radius: unset

h1
	font-weight: bold
	font-size: 1.4rem
h2
	font-weight: 600
	font-size: 1.4rem
	margin: 0
h3
	font-weight: 500
	font-size: 1.1rem
span
	font-weight: bold
	font-size: 2rem
p
	font-weight: 500
	font-size: 1rem

.hoverBtn
	border-radius: 25px
	transition-duration: 0.2s
	color: #ff8f66 !important

.hoverBtn:hover
	color: #ffffff !important
	background-color: #ff8f66 !important
	text-decoration: none


.footer
	clip-path: url(#myClipFooter)

	a:hover
		text-decoration: none


.footerMakyma
	font-size: 1.1rem
	font-weight: 500


@media screen and (max-width: 400px)
	.navbar-brand
		width: 140px

	.logo
		width: 140px
