.options_container
    a
        font-size: 15px
        font-weight: 400
        color: $dark
        font-family: $font-family-sans-serif
        
        &:nth-child(1)
            text-decoration: underline

        &:nth-child(2)
            border-radius: 50px
            border: solid 2px $dark
            padding: 10px
            
            