body.menu-active
  height: 100vh
  width: 100vw
  overflow-y: hidden
  padding-right: 15px
  position: fixed

.navigation_bar
  position: relative
  z-index: 2

  .navbar
    .nav-link
      outline: none
      &:hover, &:focus
        color: $light !important
      &.border
        border-width: 2px !important
        margin-top: -2px
        transition: background .4s ease, color .4s ease
        user-select: none
        &::before
          display: none
        &:hover, &:focus
          background: $light
          color: $primary !important
      &::before
        background: $light

    img
      width: 28px
      height: auto

    .dropdown
      .dropdown-menu
        left: 50%
        transform: translateX(-50%)
        border-radius: 12px
        .dropdown-item
          transition: color .4s ease
          &:hover, &:focus
            background-color: transparent !important
            color: $secondary !important
          &::before
            display: none

      .dropdown-toggle
        &::after
          content: '>'
          display: inline-block
          margin-left: 5px !important
          vertical-align: 0 !important
          border: none !important
          transform: rotate(90deg)
          transition: transform .4s ease

      &.show
        .dropdown-toggle
          &::after
            transform: rotate(-90deg)

  .navbar-mobile
    display: flex
    align-self: center

    .nav-toggle
      background: none
      outline: none
      border: none
      z-index: 15
      &:hover, &:focus
        background: transparent !important

    #nav-container
      width: 100vw
      height: 100vh
      top: 0
      left: 0
      max-width: 100vw
      z-index: 10
      transform: translateX(100%)
      transition: transform .4s ease
      background: linear-gradient(40deg, #FF8F66, #ffeb9a 120%)
      &.active
        transform: translateX(0)

      .navbar-list-container
        top: 110px
        left: 50%
        min-width: 80%
        transform: translateX(-50%)

        .navbar-list
          list-style-type: none

          .nav-link
            font-size: 1.125rem
            font-weight: 500
            display: inline-block
            &.item
              font-size: 0.938rem
              font-weight: 400
            &:hover, &:focus
              color: $light !important
            &::before
              background: $light

          .dropdown-toggle
            cursor: pointer
            &::before
              width: 100%
            &::after
              content: '>'
              display: inline-block
              margin-left: 5px !important
              vertical-align: 0 !important
              border: none !important
              transform: rotate(-90deg)
              transition: transform .4s ease

          .dropdown-menu-container
            display: inline-block

            img
              width: 20px
              height: 20px

  .navbar-brand-container
    z-index: 15555
