// .product
//     &__alternatives
//         position: relative
//         margin-top: -140px
//     &__alternative
//         box-shadow: 0 5px 15px rgba(0,0,0,0.2)
//         border: none
//         margin-top: 40px
// .product__alternatives
//     .card-columns .card
//         margin-bottom: 1.5rem

//     .product__alternative
//         display: inline-block
//         -webkit-column-break-inside: avoid
        
//         background-color: white
//         padding: 8px
//         //box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15) !important

//         .card-body
//             background-color: transparent

//             h3
//                 font-weight: bold

//             p
//                 color: #646464

// .alternative-contact 
//     margin-top: 5vw

//     h3
//         font-weight: bold


.alt-main-title
    color: #F28D69
    font-size: 2.063rem
    font-weight: 600
    margin: 5rem 0 5rem 3rem

.alt
    &:not(:last-child)
        margin-bottom: 8vw

    .alt-text
        h3
            font-size: 1.57rem
            font-weight: 600
            color: #F28D69
            margin-bottom: 1.8rem

        h4
            font-size: 1.35rem
            font-weight: 400
            color: #F28D69
            margin: 1.8rem 0
        
        p
            font-size: 1.1rem
            color: #707070
        
        .btn.btn-product
            padding: 0.6rem 1.4rem
            color: #55B6A9
            font-size: 0.938rem
            font-weight: 600
            border: solid 2px #55B6A9
            border-radius: 100rem
            box-shadow: none
            background-color: transparent
            transition: background-color 0.3s

            &:hover
                background-color: #55B6A9
                color: white
        
        .alt-header
            display: flex
            justify-content: space-between

            h3
                max-width: 75%

            span
                display: block
                text-align: right
                font-size: 1.4rem
                color: #F28D69
    
    img
        height: 100%
        border-radius: 6%

.alt-suggestion
    text-align: center
    border: solid 2px #55B6A9
    width: 50%
    margin: 10vw auto
    padding: 3rem 0.8rem
    border-radius: 32px

    h3
        color: #707070
        font-size: 1.438rem
        width: 100%
    
    a
        padding: 0.6rem 1.4rem
        color: #55B6A9
        font-size: 0.938rem
        font-weight: 600
        border: solid 2px #55B6A9
        border-radius: 100rem
        box-shadow: none
        background-color: transparent
        transition: background-color 0.3s
        text-decoration: none

        &:hover
            background-color: #55B6A9
            color: white